In [1]:
import pandas as pd

import os
os.chdir(r"C:\Users\user\Desktop\perfume")

In [15]:
perfumes = pd.read_csv ("tables/products_perfume.csv")
perfumes.head()

,perfume_id,perfume_name,brand,category,price,supplier_id
0,1,Sauvage,Dior,Eau de Toilette,155,11
1,2,Neroli Portofino,Tom Ford,Eau de Parfum,250,6
2,3,Allure Homme Sport,Chanel,Eau de Toilette,150,8
3,4,The One for Men,Dolce & Gabbana,Eau de Parfum,130,27
4,5,Bal d’Afrique,Byredo,Eau de Parfum,180,5

In [16]:
suppliers = pd.read_csv ("tables/suppliers_perfume.csv")
suppliers.head()

   supplier_id           supplier_name country                   contact_email
0            1          Creed Official     USA         info@creed-official.com
1            2              LVMH Group  France                   info@lvmn.com
2            3  Estee Lauder Companies     USA  info@esteelauder-companies.com
3            4       Manzanita Capital      UK       info@manzanitacapital.com
4            5                    Puig   Spain                   info@puig.com

In [17]:
inventory = pd.read_csv ("tables/inventory_perfumes.csv")
inventory.head()

   perfume_id  stock_quantity  reorder_level last_restock_date
0           1             469              3        2024-03-04
1           2             579              5        2024-03-28
2           3             473              7        2024-03-31
3           4             546              6        2024-01-11
4           5             917              2        2024-03-20

In [18]:
sales = pd.read_csv ("tables/sales_perfume.csv")
sales = sales.sort_values('sale_date').reset_index(drop=True)
#change sale id by date
sales['sale_id'] = range(1, len(sales) + 1)
sales.tail(20)

      sale_id   sale_date  perfume_id
2980     2981  2024-08-25          14
2981     2982  2024-08-25          20
2982     2983  2024-08-25          48
2983     2984  2024-08-25          16
2984     2985  2024-08-25          13
2985     2986  2024-08-25          73
2986     2987  2024-08-25          18
2987     2988  2024-08-25          33
2988     2989  2024-08-26          39
2989     2990  2024-08-26          52
2990     2991  2024-08-26          64
2991     2992  2024-08-26          81
2992     2993  2024-08-26          76
2993     2994  2024-08-26          92
2994     2995  2024-08-26          36
2995     2996  2024-08-26          20
2996     2997  2024-08-26          60
2997     2998  2024-08-26          47
2998     2999  2024-08-26          69
2999     3000  2024-08-26          31

In [22]:
# convert date
sales['sale_date'] = pd.to_datetime(sales['sale_date'])
inventory['last_restock_date'] = pd.to_datetime(inventory['last_restock_date'])

# merge
full_clean_data = sales.merge(perfumes, on="perfume_id", how="left")\
.merge(inventory, on="perfume_id", how="left") \
.merge(suppliers, on="supplier_id", how="left")
full_clean_data.head()

,sale_id,sale_date,perfume_id,perfume_name,brand,category,price,supplier_id,stock_quantity,reorder_level,last_restock_date,supplier_name,country,contact_email
0,1,2024-01-27,97,My Way,Giorgio Armani,Eau de Parfum,135,12,52,18,2024-05-04,Giorgio Armani Beauty Official,USA,info@armani-official.com
1,2,2024-01-27,32,Le Male,Jean Paul Gaultier,Eau de Toilette,120,18,130,13,2024-04-03,Jean Paul Gaultier Official,France,info@jeanpaulgaultier-official.com
2,3,2024-01-27,18,Fierce,Abercrombie & Fitch,Eau de Parfum,120,29,138,12,2024-04-15,Inter Parfums Inc.,USA,info@interparfums.com
3,4,2024-01-27,54,The One,Dolce & Gabbana,Eau de Parfum,130,27,268,8,2024-02-19,Shiseido Group,Japan,info@shiseido-group.com
4,5,2024-01-27,63,Gucci Guilty Pour Homme,Gucci,Eau de Toilette,130,22,282,12,2024-05-12,Gucci Official,Italy,info@gucci-official.com

In [23]:
full_clean_data.to_csv("full_clean_data.csv", index=False)